img {
    float: left;
}
@media only screen and (max-width:320px),screen and(max-height:285px){
       body {
        background-color: lightblue;
    }
    .jumbotron h1{

        color:green;
    }
    .container h3{
        color:blue;
    }
    .container p{
        color:pink;
    }
}